@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #000000;
  --background-light: #ffffff;
  --background-dark: #191919;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-background-light: var(--background-light);
  --color-background-dark: var(--background-dark);
  
  --font-display: var(--font-inter);
  --font-mono: var(--font-jetbrains-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-display), sans-serif;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #e4e4e7;
  border-radius: 20px;
}
